<div class="nav">
  <!--<a class="logo"></a>-->
  <ul class="navbar-nav">
    <li><a href="/">Home</a></li>
    <li><a href="/about">About</a></li>
  </ul>
</div>
<section class="page-header">
  {% if page.title %}
    <h1 class="project-name">{{ page.title }}</h1>
    {% if page.description %}
      <h2 class="project-tagline">{{ page.description }}</h2>
    {% endif %} 
  {% else if %}
    <h1 class="project-name">{{ site.title }}</h1>
    <h2 class="project-tagline">{{ site.description | default: site.github.project_tagline }}</h2>
  {% endif %}
  {% if site.show_downloads %}
    <a href="{{ site.github.zip_url }}" class="btn">Download .zip</a>
    <a href="{{ site.github.tar_url }}" class="btn">Download .tar.gz</a>
  {% endif %}
</section>