{% if page.is_post %}
  {% assign type = "BlogPosting" %}
{% else %}
  {% assign type = "Blog" %}
{% endif %}
<!-- http://schema.org/ -->
<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "{{ type }}",
  "@id": "{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}",
  "url": "{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}",
  "mainEntityOfPage": {
    "@type": "{{ type }}",
    "@id": "{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}"
  },
  "headline": "{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}",
  "description": "{% if page.description %}{{ page.description | strip_html | strip_newlines | truncate: 140 }}{% else %}{{ site.description }}{% endif %}",
  {% if page.date %}
    "datePublished": "{{ page.date | date_to_xmlschema }}",
  {% endif %}
  {% if page.update %}
    "dateModified": "{{ page.update | date_to_xmlschema }}",
  {% endif %}
  "image": {
    "@type": "ImageObject",
    "url": "https://sergodeeva.github.io/assets/logo.png",
    "width": 190,
    "height": 190
  },
  "author": {
    "@type": "Person",
    "name": "{{ site.author }}",
    "sameAs":[  
      "https://github.com/sergodeeva",
      "https://www.linkedin.com/in/natalyakosenko",
      "https://www.facebook.com/natalya.kosenko"
    ]
  },
  "publisher": {
    "@type": "Person",
    "name": "{{ site.author }}",
    "sameAs":[  
      "https://github.com/sergodeeva",
      "https://www.linkedin.com/in/natalyakosenko",
      "https://www.facebook.com/natalya.kosenko"
    ]
  }
}
</script>