---
layout: default
comments: true
---
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <p class="post-meta">
      <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
        {{ page.date | date: date_format }}
      </time>
      {% if page.author %}
        • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>
      {% endif %}</p>
  </header>

  <div class="post-content" itemprop="articleBody">
    {{ content }}
  </div>

  <h2>Before you go...</h2>
  <p>If you found this article helpful, click the "Like" button below or share the article on Facebook so your friends can benefit from it too :)</p>
  <iframe src="https://www.facebook.com/plugins/like.php?href={{ page.url | absolute_url }}&width=450&layout=standard&action=like&size=large&show_faces=true&share=true&height=80&appId=119179925551713" width="450" height="80" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>

  {% if site.disqus.shortname %}
    {% include disqus-comments.html %}
  {% endif %}
</article>